<template>
    <div id="agenda" class="pt-1 px-5">
        <v-list class="agenda-items px-0">
            <v-list-item v-for="(item, index) in agenda" :key="index" class="px-0 mb-5 _item">
                <h3 class="-title mr-1"><span>{{item.title}}</span></h3>
                <div class="time-and-date mr-1">
                    <span class="-date">{{item.date | formatDate('date')}}</span>{{item.date | formatDate('time', true)}}
                    <span class="-end_time" v-if="item.ending_time"> - {{item.ending_time | formatDate('time', false)}}</span>
                </div>
                <div class="-description" v-html="item.description"></div>
            </v-list-item>
        </v-list>
    </div>
</template>

<script>
    import moment from 'moment';
    import Vue from "vue";

    Vue.filter('formatDate', function(value, timeordate, starttime) {
        if (value) {
            moment.locale('nl');
            if (timeordate ===  'date') {
                return moment(String(value)).format('DD MMMM YYYY');
            } else if (timeordate === 'time') {
                let time = moment(String(value), "zz kk:mm:ss").format('kk:mm');
                if (time === '24:00') {return}
                if (starttime === true) {time = ", "+time}
                return time
            } else {
                return moment(String(value)).format('DD-MM-YYYY kk:mm');
            }
        }
    });

    export default {
        name: "Agenda",
        props: {
            options: {},
        },
        data() {
            return {
                agenda: {},
            }
        },
        mounted() {
            let data = this.options;
            this.agenda = data["agenda_events"];
        }
    }
</script>

<style scoped lang="scss">
    //noinspection CssUnknownTarget
    @import '@/assets/scss/agenda.scss';
</style>
