//noinspection CssUnknownTarget
@font-face {
  font-family: Amsi Pro Ultra;
  src: url("../src/assets/fonts/amsi_pro_ultra/amsi_pro_ultra.eot"),
  url("../src/assets/fonts/amsi_pro_ultra/amsi_pro_ultra.otf"),
  url("../src/assets/fonts/amsi_pro_ultra/amsi_pro_ultra.woff"),
  url("../src/assets/fonts/amsi_pro_ultra/amsi_pro_ultra.ttf");
}
//noinspection CssUnknownTarget
@font-face {
  font-family: Amsi Pro Bold;
  src: url("../src/assets/fonts/amsi_pro_bold/amsi_pro_bold.eot"),
  url("../src/assets/fonts/amsi_pro_bold/amsi_pro_bold.otf"),
  url("../src/assets/fonts/amsi_pro_bold/amsi_pro_bold.woff"),
  url("../src/assets/fonts/amsi_pro_bold/amsi_pro_bold.ttf");
}
//noinspection CssUnknownTarget
@font-face {
  font-family: Amsi Pro Regular;
  src: url("../src/assets/fonts/amsi_pro_regular/amsi_pro_regular.eot"),
  url("../src/assets/fonts/amsi_pro_regular/amsi_pro_regular.otf"),
  url("../src/assets/fonts/amsi_pro_regular/amsi_pro_regular.woff"),
  url("../src/assets/fonts/amsi_pro_regular/amsi_pro_regular.ttf");
}

html {
  margin: 0;
  border: 0;
  padding: 0;
  outline: 0;
  overflow-y: scroll;
  background: transparent;
  vertical-align: baseline;
}
body {
  margin: 0;
  padding: 0;
  position: static;
  overflow-y: auto;
  background-color: #ffffff;
  font-family: "Amsi Pro Regular", Arial, sans-serif;
}
h1, h2, h3, h4, h5, h6, p, span, ul, li {
  margin: 0;
  padding: 0;
}
svg {
  display: block;
}
p, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}
a {
  color: $theme-green;
  text-decoration: none;
}
iframe {
  width: 100%;
  border: 0;
  margin: 0;
  padding: 0;
}
::-moz-selection {
  color: #ffffff;
  background: $theme-green;
}
::selection {
  color: #ffffff;
  background: $theme-green;
}

/* Class styling */
//noinspection CssUnknownTarget
@import '@/assets/scss/_vue-overrides.scss';

.block-title {
  font-style: normal;
  line-height: 1;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: normal;
  text-transform: uppercase;
  -webkit-font-smoothing: antialiased;
  color: #ffffff;
  font-family: "Amsi Pro Ultra", sans-serif;
  font-size: 20px;
  text-align: left;
  padding: 5px 7px 3px 7px;
  display: inline-block;
  overflow: hidden;
  max-width: 90%;
  white-space: nowrap;
  border-radius: 4px;
  text-overflow: ellipsis;
  vertical-align: top;
  background-color: #000000;
}

@-webkit-keyframes scale {
  from {
    opacity: 0;
    transform: scaleX(1.3) translateX(-30px) translateZ(0);
  }
  to {
    opacity: 1;
    transform: scaleX(1) translateX(0) translateZ(0);
  }
}
