@import '~vuetify/src/styles/settings/_variables';

$theme-green: #87b919;
$theme-lightgray: #f8f8f8;

$xxs: 400px; //xs
$break-tablet: 600px; //sm
$break-laptop: 960px; //md
$break-desktop: 1264px; //lg
