#agenda {
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  display: flex;
  height: auto;
  background: none;
  margin: 0;
  overflow: hidden;
  flex: 1 1 0;
  flex-wrap: wrap;
  font-family: "Amsi Pro Regular", Arial, sans-serif;
}

.agenda-items {
  list-style: none;
  background: $theme-lightgray;

  ._item {
    position: relative;
    display: block;
  }

  .-title {
    font-family: "Amsi Pro Ultra", Arial, sans-serif;
    white-space: normal;
    font-size: 16px;
  }

  .time-and-date {
    color: $theme-green;

    .-date {
      font-family: "Amsi Pro Bold", Arial, sans-serif;
    }
  }
  .-description {
    color: #8e8e8e;
  }
}
