//noinspection CssUnknownTarget
@import '@/assets/scss/_vue-overrides.scss';

#root {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.router-view-container {
  position: static;
}

@media #{map-get($display-breakpoints, 'md-and-up')} {
  .container.router-view-container {
    margin-top: 100px;
    padding-left: calc(336px + 12px);
    padding-top: 0;
  }
}

@media #{map-get($display-breakpoints, 'lg-and-up')} {
  .container.router-view-container {
    margin-top: 100px;
    padding-left: calc(375px + 12px);
    padding-top: 0;
  }
}
