.v-application p {
  margin-bottom: initial;
}

#navigation {
  top: 0;
  width: 100%;
  height: 60px;
  z-index: 103;
  position: fixed;
  font-family: "Amsi Pro Bold", Arial, sans-serif;
  color: white;

  .wrapper {
    height: 100%;
    background-color: #fff;
    position: relative;
  }
}

.menu-logo {
  width: 130px;
  float: left;
  height: 100%;
  position: relative;

  .-wrapper {
    height: 100%;
    cursor: pointer;
    position: relative;
    box-sizing: border-box;
    padding-top: 6px;

    .site_logo {
      color: $theme-green;
      text-decoration: none;

      .-img {
        height: 48px;
      }
    }
  }
}

.navigation-menu-open {
  height: 100%;
  width: calc(100% - 136px);
  float: right;

  .-wrapper {
    float: left;
    cursor: pointer;
    padding: 0 12px 0 8px;
    opacity: 1;
    position: relative;
    box-sizing: border-box;
    transition: all 0.25s cubic-bezier(.8, -.5, .2, 1.4) 0.3s;
    height: 60px;

    &.active {
      opacity: 0;
      transform: translateY(10px);
      transition: all 0.25s cubic-bezier(.8, -.5, .2, 1.4);
    }

    .navigationButton {
      position: relative;
      top: 50%;
      transform: translateY(-50%);
      margin-top: 7px;
    }
  }

  .icon-hamburger {
    color: black;
  }
}

.menu-overlay {
  transition: all 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  position: fixed;
  opacity: 0;
  visibility: hidden;

  &.active {
    z-index: 105;
    opacity: 0.4;
    visibility: visible;
    background-color: #000000;
  }
}

.menuWrapper {
  height: 0;
  opacity: 0;
  visibility: hidden;
  transition: all 0.25s cubic-bezier(0.4, 0.0, 0.6, 1) 0.15s;
  top: 0;
  left: 0;
  width: 300px;
  z-index: 110;
  position: fixed;

  &::before {
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    content: " ";
    position: absolute;
    transition: height 0.5s cubic-bezier(0.4, 0.0, 0.6, 1);
    background-color: #000000;
  }

  &.active {
    height: 100vh;
    opacity: 1;
    visibility: visible;
    transition: opacity 0.5s cubic-bezier(0.4, 0.0, 0.6, 1);

    &::before {
      height: 100%;
    }
  }
}

.active {
  ._animate {
    animation: scale 0.5s ease forwards;
    backface-visibility: hidden;
    transition: none;
  }
}

.menuHover {
  width: 100%;
  height: 100%;
  z-index: 10;
  position: absolute;
}

.menu-header {
  height: 60px;
  width: 100%;
  z-index: 111;
  position: absolute;
  padding-top: 6px;

  .site_logo {
    .-img {
      height: 48px;
    }
  }

  .close-navigation {
    position: absolute;
    top: 50%;
    right: 19px;
    transform: translateY(-50%);
    z-index: 100;
    cursor: pointer;
  }

  .icon-close {
    fill: white;
  }

  .submenu-back-btn {
    top: 12px;
    left: 10px;
    cursor: pointer;
    display: block;
    z-index: 30;
    position: absolute;
  }

  .icon-back {
    fill: white;
    transform: rotate(180deg);
  }
}

.main-navigation {
  padding: 0;
  height: 100%;
  width: 100%;
  display: table;
  table-layout: fixed;
  position: relative;
  vertical-align: middle;

  .-items {
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    list-style: none;
    text-align: left;
    vertical-align: middle;

    .menuItem:hover {
      background-color: $theme-green;
    }
  }
}

/* MENU ITEM LI STYLING */
.-items {
  background: transparent;
  color: white;

  .v-list-item:hover::before {
    opacity: 0;
  }
}

.-items .menuItem {
  padding: 16px 20px;
  width: 100%;
  cursor: pointer;
  display: inline-block;
  z-index: 99;
  position: relative;
  box-sizing: border-box;
  transition: all 0.3s ease;
  line-height: 1;
  vertical-align: middle;
  background-color: transparent;

  @for $i from 1 to 10 {
    &:nth-of-type(#{$i}) {
      $itemDelay: ($i*0.05);
      animation-delay: #{$itemDelay}s;
    }
  }

  &._animate {
    opacity: 0;
  }

  &.menu-item-active {
    color: $theme-green !important;
    transition: background-color 0.3s ease;

    p {
      transform: translateX(15px);
      transition: all 0.3s ease 0.2s;
    }
  }

  &:hover {
    transition-delay: 0.2s;

    p {
      transform: translateX(15px);
      transition: all 0.3s ease 0.2s;
      color: white !important;
    }

    .icon-open-submenu {
      color: white;
    }
  }

  p {
    display: inline-block;
    position: relative;
    transition: all 0.3s ease;
    vertical-align: middle;
    text-transform: uppercase;
    line-height: 32px;
  }
}

.icon-open-submenu {
  position: absolute;
  top: 28px;
  right: 20px;
  fill: white;
  transition: all 0.3s ease 0.2s;
}

.subMenu {
  top: 0;
  left: 0;
  position: fixed;
  background-color: $theme-green;
  opacity: 0;
  visibility: hidden;
  transform: translate3d(-30px, 0, 0);
  transition: none;
  width: 300px;
  height: 100%;
  z-index: -1;
  overflow-y: scroll;
  -ms-overflow-style: none;

  &.active {
    z-index: 200;
    opacity: 1;
    transform: translate3d(0, 0, 0);
    visibility: visible;
    transition: opacity 0.3s ease 0.3s, transform 0.3s ease 0.3s;

    .-items {
      opacity: 1;
      transform: translate3d(0, 0, 0);
      visibility: visible;
    }

    .-category, .scrolldown {
      visibility: visible;
    }
  }

  &::-webkit-scrollbar {
    display: none;
  }

  .close-navigation {
    top: 21px;
    right: 18px;
    transform: none;
    z-index: 30;
  }
}

.submenu-navigation {
  width: 100%;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  visibility: hidden;

  .-items {
    opacity: 0;
    transform: translate3d(-30px, 0, 0);
    width: 100%;
    margin: 0;
    padding: 0;
    display: inline-block;
    position: relative;
    list-style: none;
    text-align: left;
    transition: opacity 0.3s ease 0.4s, transform 0.3s ease 0.4s;
    vertical-align: middle;

    .menuItem:hover {
      background-color: black;
    }
  }
}

.submenu-visibility-check {
  height: 0;
  margin: 0;
  padding: 0;
}

.scrolldown {
  position: sticky;
  bottom: 0;
  color: black;
  text-align: center;
  width: 100%;
  height: 0;
  background: black;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0) 100%);
  transition: all 0.3s ease;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;

  &.active {
    opacity: 1;
    visibility: visible;
    height: 100px;

    .-arrow {
      &::before {
        opacity: 0.8;
        visibility: visible;
        height: auto;
        top: 50px;
      }
    }
  }

  .-arrow {
    width: 100%;
    height: 0;
    background: #111;
    position: relative;

    &::before {
      content: '\002572\002571';
      color: #000000;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      text-shadow: 0 0 .5rem rgba(0, 0, 0, 0.5);
      width: 60px;
      height: 0;
      font-size: 22px;
      text-align: center;
      margin-left: -2rem;
      animation: bounce 1s ease infinite;
    }
  }

  @keyframes bounce {
    50% {
      transform: translateY(-30%);
    }
    100% {
      transform: translateY(0);
    }
  }
}

@media #{map-get($display-breakpoints, 'sm-and-up')} {
  #navigation {
    .menu {
      font-size: 18px;
    }
  }

  .menuWrapper {
    width: 336px;
  }

  .main-navigation {
    margin-top: 120px;
  }

  .subMenu {
    width: 336px;
  }

  .submenu-navigation {
    margin-top: 92px;
  }
}


@media #{map-get($display-breakpoints, 'md-and-up')} {
  #navigation {
    height: 100px;

    .menu {
      font-size: 20px;
    }
  }

  .menu-logo {
    width: 336px;

    .-wrapper {
      .site_logo {
        .-img {
          height: 55px;
        }
      }
    }
  }

  .navigation-menu-open {
    width: calc(100% - 336px);

    .-wrapper {
      top: 50%;
      transform: translateY(-50%);
    }

    .icon-hamburger {
      display: inline-block;
      position: relative;
      top: -4px;
      vertical-align: middle;
    }

    .menu-open-text {
      color: black;
      display: inline-block;
      text-transform: uppercase;
      font-size: 20px;
    }
  }

  .menuWrapper {
    width: 336px;
  }

  .menu-header {
    height: 80px;

    .site_logo {
      .-img {
        height: 55px;
      }
    }

    .close-navigation {
      right: 32px;
      top: 48px;
    }
  }

  .icon-open-submenu {
    right: 30px;
  }

  .main-navigation {
    padding-top: 120px;
  }

  .-items .menuItem {
    padding: 16px 30px;
  }

  .subMenu {
    left: 336px;
    width: 336px;

    &.active {
      z-index: 109;
    }

    .menu-header {
      display: none;
    }
  }

  .submenu-navigation {
    margin-top: 140px;
  }
}

@media #{map-get($display-breakpoints, 'lg-and-up')} {
  .menu-logo {
    width: 375px;
  }

  .navigation-menu-open {
    width: calc(100% - 375px);
  }

  .menuWrapper {
    width: 375px;
  }
  .subMenu {
    width: 375px;
    left: 375px;
  }

  .main-navigation {
    padding-top: 230px;
  }
  .submenu-navigation {
    margin-top: 250px;
  }
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  /* IE10+ CSS styles go here */
  .-items .menuItem {
    &._animate {
      opacity: 1;
    }
  }
}
