.sidebar-outer-wrapper {
  position: relative;
  z-index: 2;
}

.sidebar {
  background-color: #f8f8f8;
  box-sizing: border-box;
  display: block;
  height: calc(100vh - 60px);
  position: fixed;
  left: 0;
  top: 60px;
  max-width: 100%;
  bottom: 0;
  width: 100%;
  transform: translateX(-100%);
  opacity: 0;
  transition: transform 0.3s ease-in 0s, opacity 0.3s ease-in 0.1s;
  z-index: 2;

  .sidebar-inner-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;

    .scrollbar-hide-wrapper {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      overflow: scroll;
      margin-right: -17px;
      margin-bottom: -17px;
      margin-top: 57px;

      &.isMobile {
        margin-right: 0;
        margin-bottom: 0;
      }
    }
  }

  &.active {
    transform: translateX(0px);
    opacity: 1;
  }

  .close-sidebar {
    position: absolute;
    float: right;
    right: 16px;
    top: 18px;
    z-index: 2;

    button {
      box-sizing: border-box;
      color: rgb(60, 60, 59);
      cursor: pointer;
      fill: currentColor;
      line-height: 1;
      text-transform: none;
      vertical-align: middle;
      white-space: nowrap;
      width: 16px;
      height: initial;
      background: none;
      border-width: initial;
      border-style: none;
      border-color: initial;
      border-image: initial;
      margin: 0;
      padding: 0;
      transition: color 0.3s ease 0s;

      &:hover {
        color: $theme-green;
        fill: $theme-green;
        background-color: initial !important;
      }

      &:active, &:focus {
        background-color: transparent;
        outline: none 0;
      }
    }
  }
}

.sidebar-nav {
  background-color: transparent;
  display: flex;
  flex-wrap: wrap;
  border-bottom: 2px solid #dcdbdc;
  list-style: none;

  li {
    display: list-item;
    margin-top: 0;
    margin-bottom: -2px;
    font-size: 0;

    .tab {
      color: black;
      display: inline-block;
      font-family: "Amsi Pro Ultra", Arial, sans-serif;
      font-size: 18px;
      line-height: 1.33;
      text-transform: uppercase;
      transition: color 0.3s ease 0s;

      &.active, &:hover {
        color: $theme-green;
        border-bottom: 2px solid $theme-green;
      }
    }
  }
}

.sidebar-toggle {
  opacity: 0;
  position: fixed;
  z-index: 2;
  transform: translateX(-120%);
  bottom: 10px;
  left: 20px;
  width: calc(100% - 40px);
  transition: transform 0.3s ease-in 0s, opacity 0.3s ease-in 0.1s;

  &.active {
    opacity: 1;
    transform: translateX(0px);
  }

  .wrapper {
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.2) 0 2px 10px 0;
    cursor: pointer;
    left: 0;
    position: relative;
    width: 100%;
    border-radius: 4px;
    overflow: hidden;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      pointer-events: none;
      border-radius: 4px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
      border-image: initial;
    }
  }

  .box {
    cursor: pointer;
    display: block;
    height: 45px;
    position: relative;
    border-radius: 0;
    overflow: hidden;
    transition: transform 300ms ease 0s;
  }

  .trainingstijden {
    width: 160px;
  }

  .agenda {
    width: 85px;
  }
}

@media (max-width: $xxs) {
  .sidebar-nav li .tab {
    font-size: 14px;
  }
  .scrollbar-hide-wrapper {
    margin-top: 52px;
  }
}

@media #{map-get($display-breakpoints, 'md-and-down')} {
  .sidebar-overlay {
    transition: all 0.15s cubic-bezier(0.4, 0.0, 0.2, 1);
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    visibility: hidden;
    opacity: 0;

    &.active {
      z-index: 1;
      opacity: 0.4;
      visibility: visible;
      background-color: #000000;
    }
  }
}

@media #{map-get($display-breakpoints, 'sm-and-up')} {
  .sidebar {
    max-width: $xxs;
  }
  .sidebar-toggle {
    width: calc(315px);
    left: 20px;
    bottom: 30px;
  }
}

@media #{map-get($display-breakpoints, 'md-and-up')} {
  .sidebar {
    max-width: 336px;
    top: 100px;
    transform: translateX(0px);
    opacity: 1;
  }

  .sidebar-nav li .tab {
    font-size: 16px;
  }
}

@media #{map-get($display-breakpoints, 'lg-and-up')} {
  .sidebar {
    max-width: 375px;
  }
}
