#trainingstijden {
  flex-direction: row;
  -webkit-box-pack: start;
  justify-content: flex-start;
  display: flex;
  height: auto;
  background: none;
  margin: 0;
  overflow: hidden;
  flex: 1 1 0;
  flex-wrap: wrap;
  font-family: "Amsi Pro Regular", Arial, sans-serif;
}

.day {
  flex-basis: 336px;
  flex-grow: 1;
}

.facility {
  .-name {
    font-family: "Amsi Pro Ultra", Arial, sans-serif;
    font-size: 1.2em;
    color: $theme-green;
    display: block;
  }
}

.trainings {
  list-style: none;
  background: $theme-lightgray !important;

  .training {
    position: relative;
    font-family: "Amsi Pro Ultra", Arial, sans-serif;

    .wrapper {
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
    }

    .time {
      font-size: 12px;
      color: #848484;
      //align-self: center;
      line-height: 1;
      text-align: center;
      white-space: nowrap;
      width: 24px;
    }

    .teams-wrapper {
      display: flex;
    }

    .teams-info {
      -webkit-box-pack: center;
      justify-content: center;
      line-height: 1.25;
      text-align: left;
      display: flex;
      flex-direction: column;

      ._info {
        font-family: "Amsi Pro Regular", Arial, sans-serif;
        color: #848484;
      }
    }

    .teams {
      line-height: 1.3;
      text-transform: none;
      text-overflow: ellipsis;
      max-width: 190px;
      overflow: hidden;

      .team {
        display: inline-block;
        font-size: 16px;
      }
    }
  }
}


