<template>
    <div id="navigation">
        <div class="wrapper">
            <div class="menu-logo">
                <div class="-wrapper pl-5 pt-md-6 pl-md-8">
                    <router-link class="site_logo" :to="{name: 'Home'}" aria-label="homepage">
                        <img class="-img" src="@/assets/images/logo-nikantes.png" alt="">
                        <img class="-img sportplus" src="@/assets/images/sportplus_logo_black.png" alt="">
                    </router-link>
                </div>
            </div>
            <div class="navigation-menu-open">
                <div class="-wrapper pl-sm-6 pr-md-5 pl-md-10" :class="{active: isActive}" @click.prevent="setActive()">
                    <div class="navigationButton mt-md-0">
                        <svg xmlns="http://www.w3.org/2000/svg" width="26" height="19" viewBox="0 0 26 19"
                             class="icon-hamburger mr-md-4">
                            <path fill="#000" fill-rule="evenodd"
                                  d="M26 18v-2a1 1 0 0 0-1-1H1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h24a1 1 0 0 0 1-1zM26 4V2a1 1 0 0 0-1-1H1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h24a1 1 0 0 0 1-1zM26 11V9a1 1 0 0 0-1-1H1a1 1 0 0 0-1 1v2a1 1 0 0 0 1 1h24a1 1 0 0 0 1-1z"></path>
                        </svg>
                        <div class="menu-open-text">MENU</div>
                    </div>
                </div>
            </div>
            <div class="menu">
                <div class="menu-overlay" :class="{active: isActive}" @click.prevent="setActive()"></div>
                <div class="menuWrapper" :class="{active: isActive}">
                    <div class="menuHover"></div>
                    <div class="menu-header pl-5 pt-md-6 pl-md-8">
                        <router-link :to="{name: 'Home'}" class="site_logo pa-md-0" aria-label="homepage">
                            <img class="-img" src="@/assets/images/logo-nikantes.png" alt="">
                            <img class="-img sportplus" src="@/assets/images/sportplus_logo_white.png" alt="">
                        </router-link>
                        <div class="close-navigation" @click.prevent="setActive()">
                            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 40 40"
                                 class="icon-close" icon="icon-close">
                                <path fill-rule="evenodd"
                                      d="M 32.058 10.594 L 29.406 7.94 a 0.625 0.625 0 0 0 -0.884 0 l -8.08 8.082 a 0.625 0.625 0 0 1 -0.884 0 l -8.08 -8.082 a 0.625 0.625 0 0 0 -0.884 0 l -2.652 2.653 a 0.625 0.625 0 0 0 0 0.884 l 8.08 8.08 a 0.623 0.623 0 0 1 0 0.883 l -7.973 7.974 a 0.625 0.625 0 0 0 0 0.884 l 2.652 2.651 c 0.243 0.245 0.64 0.245 0.883 0 l 7.974 -7.972 a 0.625 0.625 0 0 1 0.884 0 l 7.974 7.972 c 0.243 0.245 0.64 0.245 0.883 0 l 2.652 -2.651 a 0.625 0.625 0 0 0 0 -0.884 l -7.973 -7.974 a 0.623 0.623 0 0 1 0 -0.883 l 8.08 -8.08 a 0.625 0.625 0 0 0 0 -0.884"></path>
                            </svg>
                        </div>
                    </div>
                    <nav class="main-navigation ma-md-0" :class="{'mt-15': $vuetify.breakpoint.xsOnly,}">
                        <v-container class="skeleton-loaders" v-if="loading">
                            <v-row>
                                <v-col cols=12 class="loader" v-for="n in parseInt(5)" :key="n">
                                    <v-skeleton-loader
                                            type="list-item-avatar" dark
                                    ></v-skeleton-loader>
                                </v-col>
                            </v-row>
                        </v-container>
                        <v-list class="-items mt-md-5">
                            <v-list-item dark class="menuItem _animate py-md-4 px-md-7"
                                         v-for="(item, index) in menu.items" :key="index"
                                         :class="{'menu-item-active': menuItemActive === item.title}"
                                         @click.prevent="openSubMenu(item)" @mouseover="openSubMenuFromHover(item)"
                            >
                                <p>{{item.title}}</p>
                                <i class="icon-open-submenu" v-if="item.child_items">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="14" height="12" viewBox="0 0 14 12">
                                        <path fill-rule="evenodd"
                                              d="M 7.372 4.118 L 4.17 0.8 c -0.298 -0.306 -0.223 -0.8 0.298 -0.8 h 3.674 c 0.496 0 0.72 0.141 0.943 0.376 l 4.692 5.153 c 0.149 0.165 0.223 0.306 0.223 0.471 c 0 0.165 -0.074 0.306 -0.223 0.47 l -4.692 5.154 c -0.223 0.235 -0.447 0.376 -0.943 0.376 H 4.468 c -0.521 0 -0.596 -0.494 -0.298 -0.8 l 3.202 -3.318 L 0.844 8 C 0.248 8 0 7.788 0 7.294 V 4.706 C 0 4.212 0.248 4 0.844 4 l 6.528 0.118 Z"></path>
                                    </svg>
                                </i>
                            </v-list-item>
                        </v-list>
                    </nav>
                </div>
                <div class="subMenu-holder">
                    <div class="subMenu" :class="{active: subMenuActive}">
                        <div class="menu-header">
                            <div class="submenu-back-btn pa-2" @click.prevent="closeSubMenu()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32"
                                     class="icon-back"
                                     icon="icon-chevron-left">
                                    <path fill="#FFF" fill-rule="evenodd"
                                          d="M 25.171 13.171 l -5.318 -5.318 a 0.5 0.5 0 0 0 -0.707 0 l -2.12 2.122 a 0.5 0.5 0 0 0 0 0.707 l 2.463 2.464 a 0.5 0.5 0 0 1 -0.353 0.854 H 6.5 c -0.277 0 -0.5 0.223 -0.5 0.5 v 3 a 0.5 0.5 0 0 0 0.5 0.5 h 12.636 a 0.5 0.5 0 0 1 0.353 0.853 l -2.464 2.464 a 0.502 0.502 0 0 0 0 0.708 l 2.121 2.121 a 0.5 0.5 0 0 0 0.707 0 l 5.318 -5.318 l 2.475 -2.475 a 0.5 0.5 0 0 0 0 -0.707 l -2.475 -2.475 Z"></path>
                                </svg>
                            </div>
                            <div class="close-navigation" @click.prevent="setActive()">
                                <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 40 40"
                                     class="icon-close" icon="icon-close">
                                    <path fill-rule="evenodd"
                                          d="M 32.058 10.594 L 29.406 7.94 a 0.625 0.625 0 0 0 -0.884 0 l -8.08 8.082 a 0.625 0.625 0 0 1 -0.884 0 l -8.08 -8.082 a 0.625 0.625 0 0 0 -0.884 0 l -2.652 2.653 a 0.625 0.625 0 0 0 0 0.884 l 8.08 8.08 a 0.623 0.623 0 0 1 0 0.883 l -7.973 7.974 a 0.625 0.625 0 0 0 0 0.884 l 2.652 2.651 c 0.243 0.245 0.64 0.245 0.883 0 l 7.974 -7.972 a 0.625 0.625 0 0 1 0.884 0 l 7.974 7.972 c 0.243 0.245 0.64 0.245 0.883 0 l 2.652 -2.651 a 0.625 0.625 0 0 0 0 -0.884 l -7.973 -7.974 a 0.623 0.623 0 0 1 0 -0.883 l 8.08 -8.08 a 0.625 0.625 0 0 0 0 -0.884"></path>
                                </svg>
                            </div>
                        </div>
                        <nav class="submenu-navigation" :class="{'mt-15': $vuetify.breakpoint.xsOnly,}">
                            <div class="category-holder mt-md-n9" v-if="submenu[0] && submenu[0].is_category">
                                <div class="-category" v-for="(item, Isub) in submenu" :key="Isub">
                                    <h5 class="block-title my-1 mx-5 mx-md-7">{{item.title}}</h5>
                                    <v-list dark class="-items">
                                        <v-list-item class="menuItem _animate"
                                                     v-for="(child, Ichild) in item.child_items" :key="Ichild"
                                                     :to="getMenuItemLink(child)" @click="isActive = !isActive">
                                            <p v-html="child.title"></p>
                                        </v-list-item>
                                    </v-list>
                                </div>
                            </div>
                            <div v-else>
                                <v-list class="-items">
                                    <v-list-item dark class="menuItem _animate" v-for="(item, Isub) in submenu"
                                                 :key="Isub" :to="getMenuItemLink(item)" @click="isActive = !isActive">
                                        <p v-html="item.title"></p>
                                    </v-list-item>
                                </v-list>
                            </div>
                        </nav>
                        <div v-observe-visibility="visibilityChanged" class="submenu-visibility-check"></div>
                        <div class="scrolldown" :class="{active: !subMenuBottomIsVisible}"><span class="-arrow"></span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    /* eslint-disable no-console */

    import axios from "axios";
    import env from "../../env";
    import Vue from 'vue'
    import {ObserveVisibility} from 'vue-observe-visibility'

    Vue.directive('observe-visibility', ObserveVisibility);

    export default {
        name: "Navigation",
        data() {
            return {
                menu: {},
                loading: true,
                isActive: false,
                subMenuActive: false,
                menuItemActive: "",
                submenu: {},
                window: {
                    width: 0,
                    height: 0
                },
                hoverNavigation: true,
                subMenuBottomIsVisible: false,
            }
        },
        async created() {
            await axios.get(env.MENU_API + '/menus/main-menu')
                .then(response => {
                    if (Object.keys(response.data).length > 0) {
                        this.menu = response.data;
                    } else {
                        throw({
                            statusCode: 204,
                            message: "Data could not be found" /*TODO: replace with strings file*/
                        });
                    }
                })
                .catch(error => {
                    this.error = error;
                })
                .finally(() => this.loading = false);
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
        },
        updated() {
            if (this.subMenuActive && !this.isActive) {
                this.subMenuActive = this.isActive;
            }
            if (!this.isActive) {
                this.menuItemActive = "";
            }
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize)
        },
        methods: {
            setActive() {
                this.isActive = !this.isActive;
                if (!this.isActive) {
                    this.menuItemActive = "";
                }
            },
            openSubMenu(item) {
                this.menuItemActive = item.title;
                if (item.child_items) {
                    this.submenu = item.child_items;
                    this.subMenuActive = true;
                } else {
                    this.$router.push(this.getMenuItemLink(item));
                    this.isActive = false;
                }
            },
            openSubMenuFromHover(item) {
                if (this.hoverNavigation) {
                    this.menuItemActive = item.title;
                    if (item.child_items) {
                        setTimeout(() => {
                            this.submenu = item.child_items;
                            this.subMenuActive = true;
                        }, 300)
                    } else {
                        setTimeout(() => {
                            this.subMenuActive = false;
                        }, 300)
                    }
                }
            },
            closeSubMenu() {
                this.menuItemActive = "";
                this.subMenuActive = false;
            },
            handleResize() {
                this.hoverNavigation = window.innerWidth >= 960;
                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
            },
            visibilityChanged(isVisible) {
                this.subMenuBottomIsVisible = isVisible;
            },
            getMenuItemLink(item) {
                const postType = item.object;
                if (postType === "custom") {
                    return {name: 'Home'}
                }
                const parts = item.url.split('/');
                const lastSegment = parts.pop() || parts.pop();  // handle potential trailing slash
                let routerObject = {
                    name: "posts",
                    params: {
                        id: lastSegment,
                        object_type: item.object,
                        object_id: item.object_id
                    },
                };
                if (this.$route.path === ("/" + lastSegment)) { // Force navigating to new url when clicking a navigation item that contains the same slug as the current url
                    routerObject.query = {id: item.object_id}
                }
                return routerObject
            },
        }
    }
</script>

<style scoped lang="scss">
    //noinspection CssUnknownTarget
    @import '@/assets/scss/navigation.scss';
</style>
