<template>
    <section id="post" v-if="Object.keys(post).length > 0">
        <h2>{{post.title.rendered}}</h2>
        <div v-html="post.content.rendered"></div>
    </section>
</template>

<script>
    import axios from "axios";
    import env from "../../env";

    export default {
        name: "post",
        data() {
            return {
                post: {}
            }
        },
        asyncData({params, error}) {
            let request_uri = env.WP_API + "/posts/" + params.id;
            let slug = false;
            let regex = RegExp(/^[0-9]*$/g); /*checks if the string contains only numbers*/
            if (regex.test(params.id) !== true) {
                request_uri = env.WP_API + "/posts/?slug=" + params.id;
                slug = true;
            }

            return axios.get(request_uri)
                .then(response => {
                    if (slug === true) {
                        if (response.data[0]) {
                            return {post: response.data[0]}
                        } else {
                            return ({
                                error: {
                                    statusCode: 204,
                                    message: "Empty response with response code 204"
                                }
                            })
                        }
                    } else {
                        return {post: response.data}
                    }
                })
                .catch((e) => {
                    error({
                        statusCode: e.statusCode || 404,
                        message: e.message
                    })
                })
        },
        mounted() {
            if (this.error) {
                this.$nuxt.error({
                    statusCode: this.error.statusCode,
                    message: this.error.message
                })
            }
        }
    }
</script>

<style scoped>

</style>
