<template>
    <section id="page">
        <div v-if="loading">Loading...</div>
        <div v-else-if="error">{{error.message}}</div><!--TODO: replace with strings file-->
        <div v-else class="page">
            <h2>{{page.title.rendered}}</h2>
            <div class="content" v-html="page.content.rendered"></div>
        </div>
    </section>
</template>

<script>
    import axios from "axios";
    import env from "../../env";

    export default {
        name: "Page",
        data() {
            return {
                page: {},
                loading: true,
                error: false,
            }
        },
        created: function () {
            let request_uri = env.WP_API + "/pages/" + this.$route.params.id;
            let slug = false;
            let regex = RegExp(/^[0-9]*$/g); /*checks if the string contains only numbers*/
            if (regex.test(this.$route.params.id) !== true) {
                request_uri = env.WP_API + "/pages/?slug=" + this.$route.params.id;
                slug = true;
            }

            axios.get(request_uri)
                .then(response => {
                    if (slug === true) {
                        if (response.data[0]) {
                            this.page = response.data[0]
                        } else {
                            throw({
                                statusCode: 204,
                                message: "Empty response with response code 204"
                            });
                        }
                    } else {
                        this.page = response.data
                    }
                })
                .catch(error => {
                    this.error = error;
                    this.$nuxt.error(error)
                })
                .finally(() => this.loading = false);
        },
    }
</script>

<style scoped>

</style>
