<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <base href="/" />
  <link rel="icon" href="<%= BASE_URL %>favicon.ico">
  <title>Nikantes</title>
  <link
          rel="preload"
          href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
          as="style"
          onload="this.onload=null;this.rel='stylesheet'"
  >
  <noscript><link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"></noscript>
  <link rel="manifest" href="<%= BASE_URL %>manifest.json">
</head>
<body>
<noscript>
  <strong>We're sorry but v2.nikantes doesn't work properly without JavaScript enabled. Please enable it to
    continue.</strong>
</noscript>
<div id="app"></div>
<!-- built files will be auto injected -->
</body>
</html>
