<template>
    <div class="sidebar-holder">
        <div class="sidebar-outer-wrapper">
            <div class="sidebar" :class="{active: mobileSidebar}">
                <v-container class="skeleton-loaders" v-if="loading">
                    <v-row>
                        <v-col><v-skeleton-loader type="chip"></v-skeleton-loader></v-col>
                        <v-col><v-skeleton-loader type="chip"></v-skeleton-loader></v-col>
                    </v-row>
                    <v-row>
                        <v-col cols=12 class="loader" v-for="n in parseInt(5)" :key="n">
                            <v-skeleton-loader
                                    type="list-item-avatar-two-line"
                            ></v-skeleton-loader>
                        </v-col>
                    </v-row>
                </v-container>
                <div v-else class="sidebar-inner-wrapper">
                    <div class="sidebar-nav-wrapper">
                        <ul class="sidebar-nav mb-6 px-6" role="tablist"> <!--Sidebar Nav tabs-->
                            <li role="presentation">
                                <a :class="{ active: isActive('trainingstijden') }"
                                   @click.prevent="setActive('trainingstijden')" class="tab pa-4"
                                   href="#trainingstijden" role="tab">Trainingstijden</a>

                                <a :class="{ active: isActive('agenda') }" @click.prevent="setActive('agenda')"
                                   class="tab pa-4"
                                   href="#agenda" role="tab">Agenda</a>
                            </li>
                        </ul>
                        <div v-if="window.width < mobileBreakpoint" class="close-sidebar"> <!--Close Sidebar-->
                            <button @click="toggleMobileSidebar()">
                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 72 72" fill="currentColor">
                                    <path d="M61.3,16.4l-5.6-5.6c-0.5-0.5-1.3-0.5-1.9,0L36.9,27.8c-0.5,0.5-1.3,0.5-1.9,0L18.1,10.8 c-0.5-0.5-1.3-0.5-1.9,0l-5.6,5.6c-0.5,0.5-0.5,1.3,0,1.9l16.9,16.9c0.2,0.2,0.4,0.6,0.4,0.9s-0.1,0.7-0.4,0.9L10.9,53.8 c-0.5,0.5-0.5,1.3,0,1.9l5.6,5.6c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.7-0.1,0.9-0.4l16.7-16.7c0.5-0.5,1.3-0.5,1.9,0l16.7,16.7 c0.2,0.2,0.6,0.4,0.9,0.4c0.3,0,0.7-0.1,0.9-0.4l5.6-5.6c0.2-0.2,0.4-0.6,0.4-0.9s-0.1-0.7-0.4-0.9L44.3,37 c-0.2-0.2-0.4-0.6-0.4-0.9s0.1-0.7,0.4-0.9l16.9-16.9C61.8,17.7,61.8,16.9,61.3,16.4"></path>
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="scrollbar-hide-wrapper" :class="{isMobile: isMobile()}">
                        <div v-if="error">{{error.message}}</div><!--TODO: replace with strings file-->
                        <trainingstijden v-else-if="(Object.keys(options).length > 0) && isActive('trainingstijden') "
                                         :options="options" id="trainingstijden" class="mt-6"></trainingstijden>
                        <agenda v-else-if="(Object.keys(options).length > 0) && isActive('agenda') " :options="options"
                                id="agenda" class="mt-6"></agenda>
                    </div>
                </div>
            </div>
            <div :class="{active: !mobileSidebar}" class="sidebar-toggle"
                 v-if="window.width < mobileBreakpoint && window.width !== 0"> <!--Mobile sidebar mini-toggle-->
                <div class="wrapper d-flex">
                    <div class="trainingstijden box" @click="toggleMobileSidebar('trainingstijden')">Trainingstijden
                    </div>
                    <div class="agenda box" @click="toggleMobileSidebar('agenda')">Agenda</div>
                </div>
            </div>
        </div>
        <div class="sidebar-overlay" :class="{active: mobileSidebar}" @click="toggleMobileSidebar()"></div>
    </div>
</template>

<script>
    /* eslint-disable no-console */

    import Trainingstijden from "../trainingstijden/Trainingstijden";
    import Agenda from "../agenda/Agenda";
    import axios from 'axios';
    import env from "../../env";

    export default {
        name: "Sidebar",
        components: {
            Trainingstijden,
            Agenda
        },
        data() {
            return {
                options: {},
                loading: true,
                error: false,
                activeItem: 'trainingstijden',
                mobileSidebar: false,
                window: {
                    width: 0,
                    height: 0
                },
                mobileBreakpoint: 960,
            }
        },
        async created() {
            await axios.get(env.ACF_API + '/options/options')
                .then(response => {
                    if (Object.keys(response.data.acf).length > 0) {
                        this.options = response.data.acf;
                    } else {
                        throw({
                            statusCode: 204,
                            message: "Data could not be found" /*TODO: replace with strings file*/
                        });
                    }
                })
                .catch(error => {
                    this.error = error;
                })
                .finally(() => this.loading = false);
            window.addEventListener('resize', this.handleResize);
            this.handleResize();
        },
        destroyed() {
            window.removeEventListener('resize', this.handleResize)
        },
        methods: {
            isActive(menuItem) {
                return this.activeItem === menuItem
            },
            setActive(menuItem) {
                this.activeItem = menuItem;
            },
            toggleMobileSidebar(menuItem) {
                if (menuItem) {
                    this.setActive(menuItem);
                }
                this.mobileSidebar = !this.mobileSidebar
            },
            handleResize() {
                this.window.width = window.innerWidth;
                this.window.height = window.innerHeight;
                if (this.window.width >= this.mobileBreakpoint && window.innerWidth >= this.mobileBreakpoint) {
                    this.mobileSidebar = false;
                }
            },
            isMobile() {
                return /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent);
            }
        }
    }
</script>

<style scoped lang="scss">
    //noinspection CssUnknownTarget
    @import '@/assets/scss/sidebar.scss';
</style>
