<template>
    <v-container class="pa-0">
        <v-skeleton-loader v-if="loading" type="article"></v-skeleton-loader>
        <v-row class="multiple-results" v-if="posts.length > 1">
            <v-col v-for="(post, index) in posts" :key="index">
                <router-link
                        :to="{name:'posts',
                        params:{id:post.slug, object_id:post.id, object_type:post.type},
                        query:{id:post.id}}">
                    <v-card outlined>
                        <v-card-title>{{post.title.rendered}}</v-card-title>
                        <v-card-subtitle>{{post.parent_title}}</v-card-subtitle>
                        <v-card-text v-html="post['excerpt'].rendered"></v-card-text>
                    </v-card>
                </router-link>
            </v-col>
        </v-row>
        <section id="post" v-else-if="posts.length === 1" :set="post = posts[0]">
            <h2>{{post.title.rendered}}</h2>
            <div v-html="post.content.rendered"></div>
        </section>
    </v-container>
</template>

<script>
    /* eslint-disable no-console */

    import axios from "axios";
    import env from "../env";

    export default {
        name: "post",
        data() {
            return {
                posts: [],
                error: undefined,
                loading: true,
            }
        },
        watch: {
            '$route.params.id': function () {
                if (this.posts.length > 0) {
                    this.posts = [];
                    this.requestsPosts()
                }
            },
            '$route.query.id': function () {
                if (this.posts.length > 0) {
                    this.posts = [];
                    this.requestsPosts()
                }
            }
        },
        mounted() {
            this.requestsPosts();
        },
        methods: {
            requestsPosts() {
                let params;
                // query.id > params.object_id > params.id(slug)
                if (this.$route.query.id) {
                    params = this.$route.query;
                } else if (this.$route.params.object_type && this.$route.params.object_id) {
                    params = this.$route.params;
                    params.slug = params.id;
                    params.id = this.$route.params.object_id
                } else {
                    params = this.$route.params;
                }
                this.loading = true;

                /*
                * generate requestUrl for object type and id
                * if id===slug then search for objects by slug
                * */
                function getRequestUrl(params, objType) {
                    objType = objType + "s";
                    let request_uri = env.WP_API + "/" + objType + "/" + params.id;
                    let regex = RegExp(/^[0-9]*$/g); /*checks if the string contains only numbers*/
                    if (regex.test(params.id) !== true) {
                        request_uri = env.WP_API + "/" + objType + "/?slug=" + params.id;
                    }
                    return request_uri
                }

                let request_uri = {
                    post: getRequestUrl(params, "post"),
                    page: getRequestUrl(params, "page"),
                };

                let requests = [];
                if (this.$route.params.object_id && this.$route.params.object_type) { //if object_type was set in params, only request the appropriate type
                    requests.push(axios.get(request_uri[this.$route.params.object_type]))
                } else { // request all object types defined in request_uri
                    Object.keys(request_uri).forEach(obj => {
                        requests.push(axios.get(request_uri[obj]))
                    });
                }
                const promisesResolved = requests.map(promise => promise.catch(error => ({error})));

                function checkFailed(then) { //only throws an error when all requests fail
                    return function (responses) {
                        const allFailed = responses.every(response => response.error);
                        if (allFailed) {
                            throw responses
                        }
                        return then(responses)
                    }
                }

                axios.all(promisesResolved)
                    .then(checkFailed((requests) => {
                        let data = [];
                        requests.forEach(response => {
                            let json = JSON.parse(JSON.stringify(response)); //force array resolve
                            if (json.data && Array.isArray(json.data) && json.data.length !== 0) { //if multiple results are found
                                response.data.forEach(post => {
                                    data.push(post)
                                })
                            } else if (json.data && json.data.length !== 0) {
                                data.push(response.data)
                            }
                        });
                        if (data.length > 0) {
                            this.posts = data;
                            this.loading = false;
                        } else {
                            this.error = {
                                statusCode: 204,
                                message: "Empty response with response code 204"
                            }
                        }
                        if (data.length >= 2) {
                            this.getPostsParent(this.posts);
                        }
                    }))
                    .catch((errors) => {
                        this.error = {
                            statusCode: errors[0].error.response.status || 404,
                            message: errors[0].error.message
                        }
                    });
            },
            getPostsParent(posts) {
                if (posts.length > 1) {
                    [...posts].forEach((post, index) => {
                        if (post.parent) {
                            axios.get(post["_links"].up[0].href)
                                .then(response => {
                                    posts[index].parent_title = response.data.title.rendered;
                                    this.$forceUpdate();
                                })
                        }
                    })
                }
            },
        }
    }
</script>

<style scoped>

</style>
