<template>
    <v-container id="home" class="pa-0">
        <div class="skeleton-loaders" v-if="posts.length === 0">
            <div class="loader" v-for="n in parseInt(5)" :key="n">
                <v-row>
                    <v-col>
                        <v-skeleton-loader type="image"></v-skeleton-loader>
                    </v-col>
                    <v-col>
                        <v-skeleton-loader type="article"></v-skeleton-loader>
                    </v-col>
                </v-row>
            </div>
        </div>
        <ShowcaseNews v-bind:posts="posts"></ShowcaseNews>
    </v-container>
</template>

<script>
    /* eslint-disable no-console */

    import ShowcaseNews from "@/views/showcase/ShowcaseNews";
    import axios from 'axios'
    import env from "@/env";

    export default {
        name: 'Home',
        components: {
            ShowcaseNews,
        },
        data() {
            return {
                posts: [],
            }
        },
        created() {
            axios.get(env.WP_API + '/posts?_embed')
                .then(response => (this.posts = response.data));
        }
    }
</script>

<style lang="scss">

</style>
