<template>
    <div id="trainingstijden" class="pt-1 px-5">
        <div class="day" v-for="(day, Iday) in trainingstijden.days" :key="Iday">
            <h3 class="-name block-title mb-5">{{day.name}}</h3>
            <div class="facility" v-for="(facility, Ifacility) in day.trainings" :key="Ifacility">
                <span class="-name mb-1">{{facility.name}}</span>
                <v-list class="trainings pt-0">
                    <v-list-item class="training px-0 mb-4" v-for="(training, Itraining) in facility.trainingsploegen" :key="Itraining">
                        <div class="wrapper">
                            <div class="time mt-1 mr-4">{{training.begin_time}}</div>
                            <div class="teams-wrapper">
                                <div class="teams-info ml-3 mb-n4">
                                    <div class="teams">
                                        <div class="team" v-for="(teams, Iteams) in training.teams" :key="Iteams">
                                            <span v-if="training.teams[Iteams+2]">{{teams.team}},&nbsp;</span>
                                            <span v-else-if="training.teams[Iteams+1]">{{teams.team}} en&nbsp;</span>
                                            <span v-else>{{teams.team}}</span>
                                        </div>
                                    </div>
                                    <div class="_info" v-if="training.extra_info" v-html="training.extra_info"></div>
                                </div>
                            </div>
                        </div>
                    </v-list-item>
                </v-list>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Trainingstijden",
        props: {
            options: {},
        },
        data() {
            return {
                trainingstijden: {},
            }
        },
        mounted () {
            let data = this.options;
            this.trainingstijden = {
                days: [
                    {
                        name: 'dinsdag',
                        trainings: data["training_day_tuesday"]
                    },
                    {
                        name: 'donderdag',
                        trainings: data["training_day_thursday"]
                    },
                ],
                adjustments: {
                    enabled: data["adjustments_enabled"],
                    items: data["adjustments"]
                },
                disabled: {
                    status: data["toggle_trainings"],
                    message: data["all_trainings_disabled_announcement"],
                }
            };
        }
    }
</script>

<style scoped lang="scss">
    //noinspection CssUnknownTarget
    @import '@/assets/scss/trainingstijden.scss';
</style>
