<template>
    <v-app id="root">
        <Sidebar></Sidebar>
        <Navigation></Navigation>
        <v-main>
            <v-container fluid class="router-view-container" :class="{'mt-15': $vuetify.breakpoint.smAndDown,}">
                <router-view></router-view>
            </v-container>
        </v-main>
        <FooterTemplate></FooterTemplate>
    </v-app>
</template>

<script>
    import Sidebar from "@/views/sidebar/Sidebar";
    import Navigation from "@/views/navigation/Navigation";
    import FooterTemplate from "@/views/footer/FooterTemplate";

    export default {
        name: "default",
        components: {FooterTemplate, Navigation, Sidebar},
        metaInfo() {
            return {
                meta: [
                    {
                        title: this.$route.meta.title,
                        titleTemplate: '%s | ' + this.$route.meta.title,
                    },
                    {
                        vmid: 'description', name: 'description', content: this.$route.meta.description
                    }
                ]
            }
        }
    }
</script>

<!--suppress CssUnknownTarget -->
<style lang="scss">
    @import '@/assets/scss/_global.scss';
    @import '@/assets/scss/app.scss';
</style>
