<template>
    <v-app id="root">
        <Sidebar></Sidebar>
        <Navigation></Navigation>
        <v-main>
            <v-container fluid class="router-view-container" :class="{'mt-15': $vuetify.breakpoint.smAndDown,}">
                <nuxt/>
            </v-container>
        </v-main>
        <FooterTemplate></FooterTemplate>
    </v-app>
</template>

<script>
    import Sidebar from "../views/sidebar/Sidebar";
    import Navigation from "../views/navigation/Navigation";
    import FooterTemplate from "../views/footer/FooterTemplate";
    export default {
        name: "default",
        components: {FooterTemplate, Navigation, Sidebar}
    }
</script>

<style scoped lang="scss">
    //noinspection CssUnknownTarget
    @import '~assets/scss/app.scss';
</style>
