<template>
    <div class="container">
        {{error}}
        <h1 v-if="error.statusCode === 404">{{error.message}}</h1>
        <h1 v-else>An error occurred</h1>
        <nuxt-link to="/">Home page</nuxt-link>
    </div>
</template>

<script>
    export default {
        props: ['error'],
        layout: 'default' // you can set a custom layout for the error page
    }
</script>
