<template xmlns:wp="http://www.w3.org/1999/xhtml">
    <section id="showcase">
        <div class="post" v-for="(post,idx) in posts" v-bind:key="idx">
            <router-link :to="'/'+ post.slug">
                <h3 class="title">{{post.title["rendered"]}}<v-icon right class="--arrow">mdi-arrow-right-thick</v-icon></h3>
            </router-link>
            <img alt="" :src="post._embedded['wp:featuredmedia']['0'].media_details.sizes.large.source_url" v-if="post._embedded['wp:featuredmedia']" width="150">
            <span v-html="post.excerpt.rendered"></span>
        </div>
    </section>
</template>

<script>
    /* eslint-disable no-console */

    export default {
        name: "ShowcaseNews",
        props: ['posts'],
    }
</script>

<!--suppress CssUnknownTarget -->
<style scoped lang="scss">
    @import '@/assets/scss/_vue-overrides.scss';
    @import '@/assets/scss/showcase-news.scss';
</style>
